$primary: #fff;
$secondary: #121212;
$tertiary: #7878ff;
$fourth: #191919;
$text-color: #fff;
$browserRed: #ff5e56;
$browserYellow: #ffbd2d;
$browserGreen: #27c93f;
$success: #27c93f;
$font: 'Fira Code', monospace;
